/vendor
/app/cache
/app/logs
.sass-cache
/src/Bb/SiteBundle/Resources/public/scss/.sass-cache
/web/bundles
/src/Bb/SiteBundle/Resources/public/css

# Conf files
/app/config/parameters.yml

# Composer
composer.phar

# Ide files
.idea

# Os files
.DS_Store

# Capifony files
Capfile
.rsync_cache/

bundles/*