<div id="main-menu" class="top-bar" data-topbar>
  <ul>
    <li><a href="#" class="main-menu-link">Link 1</a></li>
    <li><a href="#" class="main-menu-link">Link 2</a></li>
    <li><a href="#" class="main-menu-link">Link 3</a></li>
    <li><a href="#" class="main-menu-link">Link 4</a></li>
  </ul>
</div>
