<div id="main-menu" class="top-bar" data-topbar>
  <ul>
  	{% for page in  pages_management.getActivePages %}
  		<li><a href="#" class="main-menu-link">{{ page.title }}</a></li>
  	{% endfor %}
  </ul>
</div>
