/* For any viewports less than 1000px wide */
@media (max-width: 1024px) {

    body {
        background-size: 1024px 1024px !important; /* Force the image to its minimum width */
    }

}

body {
	background: black;
	font: normal 14px/20px Corbel, Arial, Verdana, 'Lucida Grande', 'Lucida Sans', Sans-Serif;
	color: white;
	background-image: url('/bundles/bbsite/images/main_background.jpg');
	background-position: 50% -150px;
    background-repeat: no-repeat;
    background-color: black;

	.top-bar {
		background-image: url('/bundles/bbsite/images/trans_bg.png');
		background-repeat: repeat;
		background-color: transparent;
		height: 95px;
		border-bottom: 2px solid #6B2424;
	}

	#main-logo {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top:5px;
		width: 445px;
	}

	.row .row{
		margin-left: -1.9375rem;
	}

	#content {
		border-top: 2px solid #6B2424;
		background: rgba(0,0,0,0.8);
		margin: 0 auto;
		padding: 30px 20px;
	}

	h2 {
		font-family: 'credit_riverregular';
		background: -webkit-linear-gradient(white, #333);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		margin-top:30px;
	}

	h3 {
		font-family: 'credit_riverregular';
		background: -webkit-linear-gradient(red, #333);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		margin-bottom:0px;
	}

	#main-image {
		margin: 0 auto;
	}


	.social-boxes {
		float:right;
		color: white;
		float: right;
		width: 130px;
		margin-top: 10px;
		margin: 0 auto;
		background: black;		
	}


	#main-menu {
		height: 80px;
		background-image: url('/bundles/bbsite/images/top_bg.png');
		background-repeat: repeat-x;
		background-position: bottom;
		border-bottom: 0px;
		margin-bottom: 250px;
		width: 100%;
		height: 162px;
		
		ul {
			margin: 20px 0px 0px 0px;
			text-align: center;

			li {
				margin: 0px 20px;
				text-transform: uppercase;
				font-size: 21px;
				width: 50px;
				display:inline;
				font-family: 'credit_riverregular';
				background: -webkit-linear-gradient(red, #333);
		  		-webkit-background-clip: text;
		  		-webkit-text-fill-color: transparent;				
			}
		}
	}

	.single-news {
		margin-bottom: 15px !important;
		padding: 0px 20px 15px 40px;

		.publish-date {
			font: normal 12px/18px Corbel, Arial, Verdana, 'Lucida Grande', 'Lucida Sans', Sans-Serif;
			color: #fff;
			display: block;
			margin-bottom:20px;
		}
	}

}