/* For any viewports less than 1000px wide */
@media (max-width: 1024px) {

    body {
        background-size: 1024px 768px !important; /* Force the image to its minimum width */
    }

}

body {
	background: black;
	font: normal 14px/20px Corbel, Arial, Verdana, 'Lucida Grande', 'Lucida Sans', Sans-Serif;
	color: white;
	font-weight: bold;
	background-image: url('/bundles/bbsite/images/firemoon_edited.jpg');
	background-position: top center;
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;

	.top-bar {
		background: black;
	}

	.row .row{
		margin-left: -1.9375rem;
	}

	#content {
		max-width: 810px;
		background-image: url('/bundles/bbsite/images/trans_bg.png');
		background-repeat: repeat;
		margin: 0 auto;
		padding: 30px 20px;
	}

	h2 {
		font-family: 'credit_riverregular';
		background: -webkit-linear-gradient(white, #333);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		margin-top:30px;
	}

	h3 {
		font-family: 'credit_riverregular';
		background: -webkit-linear-gradient(red, #333);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		margin-bottom:0px;
	}

	#main-image {
		margin: 0 auto;
	}


	.social-boxes {
		float:right;
		color: white;
		float: right;
		width: 130px;
		margin-top: 10px;
		margin: 0 auto;
		background: black;		
	}


	#main-menu {
		height: 80px;
		background: transparent;
		
		ul {
			margin: 20px 0px 0px 0px;
			text-align: center;

			li {
				margin: 0px 20px;
				text-transform: uppercase;
				font-size: 21px;
				width: 50px;
				display:inline;
				font-family: 'credit_riverregular';
				background: -webkit-linear-gradient(red, #333);
		  		-webkit-background-clip: text;
		  		-webkit-text-fill-color: transparent;				
			}
		}
	}

	.single-news {
		margin-bottom: 15px !important;
		padding: 0px 20px 15px 40px;

		.publish-date {
			font: normal 12px/18px Corbel, Arial, Verdana, 'Lucida Grande', 'Lucida Sans', Sans-Serif;
			color: #fff;
			display: block;
			margin-bottom:20px;
		}
	}

}