{% extends 'BbSiteBundle::layout.html.twig' %}

{% block body %}
<div class="row">
  <div class="large-7 columns">
    <div id="owl-example" class="owl-carousel">
      <div><img src="uploads/banner/thumbs/1.jpg"></div>
      <div><img src="uploads/banner/thumbs/4.jpg"></div>
      <div><img src="uploads/banner/thumbs/3.jpg"></div>
      <div><img src="uploads/banner/thumbs/2.jpg"></div>
    </div>    
    {% for new in news %}
      <div class="row single-news">
        <h3>{{ new.title }}</h3>
        <span class="publish-date">{{ new.publishDate|date('\n l jS F Y') }}</span>
        {{ new.description|raw }}<br/><br/>
        <div class="fb-like" data-href="news/{{ new.slug }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    {% endfor %} 
  </div> 
  <div class="large-5 columns">  
    <div id="logos-bar" class="row">
      <img class="social-logo" src="/bundles/bbsite/images/logos/facebook.png">
      <img class="social-logo social-logo-r" src="/bundles/bbsite/images/logos/twitter.png">
      <img class="social-logo social-logo-r" src="/bundles/bbsite/images/logos/youtube.png">
      <img class="social-logo social-logo-r" src="/bundles/bbsite/images/logos/instagram.png">      
    </div>    
    <a height="300" class="twitter-timeline" href="https://twitter.com/BurningBlackCom" data-widget-id="468892866605887488">Tweets di @BurningBlackCom</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <h2>NEW ALBUM</h2>
    <h3>REMISSION OF SIN</h3>
    <img width="300" src="/bundles/bbsite/images/bb_cover.jpg" />
  </div>
</div>
{% endblock %}